div class="col-span-6 sm:col-span-3"
  = form.label :area_id, "Area"
  = form.collection_select :area_id, Area.order(:name), :id, :name

div class="col-span-6 sm:col-span-4"
  = form.label :title
  = form.text_field :title, autocomplete: "off"

div class="col-span-6 sm:col-span-4"
  = form.label :subtitle
  = form.text_field :subtitle, autocomplete: "off"

div class="col-span-6 sm:col-span-4"
  = form.label :description
  = form.text_field :description, autocomplete: "off"

div class="col-span-6 sm:col-span-4"
  = form.label :location
  = form.text_field :location, autocomplete: "off"

div class="col-span-6 sm:col-span-6"
  = form.label :route
  = form.text_field :route, autocomplete: "off"

div class="col-span-6 sm:col-span-1"
  = form.label :walk_time
  = form.text_field :walk_time, autocomplete: "off"


div class="col-span-6 sm:col-span-6"
  = form.label :google_url
  = form.text_field :google_url, autocomplete: "off"
