/ - add_breadcrumb "Bleau Problems", admin_bleau_problems_path
/ - add_breadcrumb @area.name, nil, class: "active"

h2 class="text-2xl font-bold mt-8 mb-4 pt-4 px-4 sm:px-0" Grade mismatch

div class="flex flex-col my-6"
  div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
    div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
      div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        table class="min-w-full divide-y divide-gray-200"
          thead class="bg-gray-50"
            tr
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
          tbody class="bg-white divide-y divide-gray-200"
            - @problems_with_grade_mismatch.each do |problem|
              tr class="place-content-start align-top h-16"
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = problem_circle_view(problem)
                  span class="ml-2"= link_to problem.name_with_fallback&.truncate(50), "https://www.boolder.com/fr/admin/problems/#{problem.id}/edit"
                td class="px-6 py-2 whitespace-nowrap w-2/12"
                  = problem.grade
                td class="px-6 py-2 whitespace-nowrap w-2/12"
                  = problem.bleau_problem.grade
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = Differ.diff_by_word(problem.bleau_problem.grade.to_s, problem.grade.to_s).format_as(:html).html_safe
                td class="px-6 py-2 whitespace-nowrap w-3/12"

p= "#{@problems_with_grade_mismatch.count} results"


h2 class="text-2xl font-bold mt-8 mb-4 pt-4 px-4 sm:px-0" Name mismatch

div class="flex flex-col my-6"
  div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
    div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
      div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        table class="min-w-full divide-y divide-gray-200"
          thead class="bg-gray-50"
            tr
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
          tbody class="bg-white divide-y divide-gray-200"
            - @problems_with_name_mismatch.each do |problem|
              tr class="place-content-start align-top h-16"
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = problem_circle_view(problem)
                  span class="ml-2"= link_to problem.name_with_fallback&.truncate(50), "https://www.boolder.com/fr/admin/problems/#{problem.id}/edit"
                td class="px-6 py-2 whitespace-nowrap w-2/12"
                  = problem.bleau_problem&.name_with_fallback&.truncate(50)
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = Differ.diff_by_word(problem.bleau_problem.name.to_s, problem.name.to_s).format_as(:html).html_safe
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  
                  

p= "#{@problems_with_name_mismatch.count} results"

h2 class="text-2xl font-bold mt-8 mb-4 pt-4 px-4 sm:px-0" Sit start mismatch

div class="flex flex-col my-6"
  div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
    div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
      div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        table class="min-w-full divide-y divide-gray-200"
          thead class="bg-gray-50"
            tr
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
          tbody class="bg-white divide-y divide-gray-200"
            - @problems_with_sit_start_mismatch.each do |problem|
              tr class="place-content-start align-top h-16"
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = problem_circle_view(problem)
                  span class="ml-2"= link_to problem.name_with_fallback&.truncate(50), "https://www.boolder.com/fr/admin/problems/#{problem.id}/edit"
                td class="px-6 py-2 whitespace-nowrap w-2/12"
                  = problem.sit_start
                td class="px-6 py-2 whitespace-nowrap w-2/12"
                  = problem.bleau_problem.sit_start
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  = Differ.diff_by_word(problem.bleau_problem.sit_start.to_s, problem.sit_start.to_s).format_as(:html).html_safe
                td class="px-6 py-2 whitespace-nowrap w-3/12"

p= "#{@problems_with_sit_start_mismatch.count} results"

h2 class="text-2xl font-bold mt-8 mb-4 pt-4 px-4 sm:px-0" Waiting for import

div class="flex flex-col my-6"
  div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8"
    div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
      div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        table class="min-w-full divide-y divide-gray-200"
          thead class="bg-gray-50"
            tr
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" Id
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" Name
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" Grade
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" Ascents
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
              th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" 
          tbody class="bg-white divide-y divide-gray-200"
            - @bleau_problems.each do |bleau_problem|
              tr class="place-content-start align-top h-16"
                td class="px-6 py-2 whitespace-nowrap w-1/12"
                  div class="text-sm text-gray-500"= bleau_problem.id
                td class="px-6 py-2 whitespace-nowrap w-3/12"
                  div class="text-sm text-gray-900"
                    = link_to bleau_problem.name_with_fallback, "https://bleau.info/c/#{bleau_problem.id}.html", target: "_blank"
                    / = problem_circle_view_with_name(problem)
                td class="px-6 py-2 whitespace-nowrap w-1/12"
                  span class="ml-1 text-gray-500"= bleau_problem.grade
                td class="px-6 py-2 whitespace-nowrap w-4/12"
                  div class="text-gray-500"
                    = bleau_problem.ascents
                td class="px-6 py-2 whitespace-nowrap w-1/12"
                  = bleau_problem.bleau_area.area.name
                td class="px-6 py-0 whitespace-nowrap"
                  div class="text-sm text-gray-900"
                    

p= "#{@bleau_problems.count} results"

div style="margin-bottom: 400px"