<% pois = [
    {
      latitude: 48.416398,
      longitude: 2.726505,
      color: "#ccc",
      title: "Fontainebleau",
      subtitle: I18n.t("views.areas.train_station", name: "Avon"),
      glyphText: "🚆",
    },
    {
      latitude: 48.475550,
      longitude: 2.691822,
      color: "#ccc",
      title: "Bois-le-Roi",
      subtitle: I18n.t("views.areas.train_station_generic"),
      glyphText: "🚆",
    },
  ]
%>

<div 
data-controller="apple-map" 
data-apple-map-annotations-value="<%= @annotations.to_json %>"
data-apple-map-pois-value="<%= pois.to_json %>"
data-apple-map-key-value="eyJhbGciOiJFUzI1NiIsImtpZCI6IkRWUVMyNTlKODkiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiI4WTQ2QkNaVUw5IiwiaWF0IjoxNjQzMzkxNjg5LCJleHAiOjE5NTg5MjQ0ODl9.-v84vbqALYM5_7muYdeD-ebwQ1pDGl0DP4cvAUbTn5scqovJbsmm2PNppnaF_kdlV62jPRGTBh7Yzng7Po1SoQ"
data-apple-map-language-value="<%= I18n.locale %>"
data-apple-map-span-value="0.20"
>
  <div data-apple-map-target="map" class="bg-gray-500" style="height: 50vh;"></div>
</div>