<% pois = [
    {
      latitude: 48.416398,
      longitude: 2.726505,
      color: "#ccc",
      title: "Fontainebleau",
      subtitle: I18n.t("views.areas.train_station", name: "Avon"),
      glyphText: "🚆",
    },
    {
      latitude: 48.475550,
      longitude: 2.691822,
      color: "#ccc",
      title: "Bois le Roi",
      subtitle: I18n.t("views.areas.train_station_generic"),
      glyphText: "🚆",
    },
  ]
%>

<div 
data-controller="apple-map" 
data-apple-map-annotations-value="<%= @annotations.to_json %>"
data-apple-map-pois-value="<%= pois.to_json %>"
data-apple-map-key-value="eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ilo2R05BUDc5N1QifQ.eyJpc3MiOiI4WTQ2QkNaVUw5IiwiaWF0IjoxNjExNTY4NTQ4LCJleHAiOjE5MzU2NTQ5NDh9.AwRdcYE4F3lTvEPUHtXAsGAHw2OXf4zBaGhK9_wGjM9hSsCzzrUPByzUYHSeuLrg8TJpt6-8q7DhpWaFLDe1Vg"
data-apple-map-language-value="<%= I18n.locale %>"
data-apple-map-span-value="0.20"
>
  <div data-apple-map-target="map" class="h-96 bg-gray-500"></div>
</div>