<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid gap-5 lg:grid-cols-12">

      <div class="col-span-2">
        <%= render "outline" %>
      </div>

      <div class="col-span-9">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Choisir un secteur</span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">Voici quelques conseils pour choisir un secteur qui vous convient.</p>
        </div>
        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Les critères importants</h2>
          
        </div>
      </div>


    </div>
  </div>
</div>