<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid gap-5 lg:grid-cols-12">

      <div class="col-span-2">
        <%= render "outline" %>
      </div>

      <div class="col-span-9">


        <div class="text-lg max-w-prose mx-auto mb-16">
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Le matériel nécessaire</span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">Voici le matériel dont vous aurez besoin pour vos sorties d'escalade en pleine nature.</p>
        </div>
        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Des chaussons</h2>

          <h2>Un crash pad</h2>

          <h2>Un topo</h2>

          <p>Un <i>topo</i>, ou <i>topoguide</i>, vous permet de vous repérer dans un secteur d'escalade.</p>

          <p>Nous vous recommandons <a href="<%= app_path %>">l’appli Boolder</a>, disponible sur iPhone. Vous aurez accès à une carte géolocalisée et aux photos des voies.</p>

          <!-- <blockquote>
            <p>Sagittis scelerisque nulla cursus in enim consectetur quam. Dictum urna sed consectetur neque tristique pellentesque. Blandit amet, sed aenean erat arcu morbi.</p>
          </blockquote> -->

          <div class="px-4 py-8 sm:px-0">
            <div class="border-4 border-dashed border-gray-200 rounded-lg h-64 flex flex-wrap content-center justify-center">
              <div>Screenshot appli Boolder</div>
            </div>
          </div>
          <!-- <figure>
            <%= image_tag("hero-boulder.jpg", class: "w-full rounded-lg", width:"1310", height:"873") %>
            <figcaption>Sagittis scelerisque nulla cursus in enim consectetur quam.</figcaption>
          </figure> -->

          <p>
            Si vous préférez un topo en version papier, nous vous recommandons Fun Bloc, qui liste une dizaine de secteurs les plus populaires de Fontainebleau avec des voies et circuits pour tous les niveaux.
          </p>

          <h2>
            En option
          </h2>

          <ul>
            <li>des <strong>crash pads supplémentaires</strong>, cf. <a href="#">“grimper en sécurité”</a></li>
            <li>un <strong>tapis</strong> pour essuyer vos chaussons avant de commencer une voie</li>
            <li>
              de la <strong>magnésie</strong> pour mieux adhérer à la roche
            </li>
          </ul>

          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="rounded-md bg-yellow-50 p-4 my-8">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: exclamation -->
                <svg class="h-6 w-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <div class="text-base font-medium text-yellow-800">
                  N’abusez pas de la magnésie car cela abîme la roche, cf <a href="#" class="">“respect de la forêt”</a>.
                </div>
              </div>
            </div>
          </div>



          <p>
            Pensez également à prendre une tenue sportive qui ne vous gêne pas dans vos mouvements, ainsi que de la nourriture et de l’eau.
          </p>

          
        </div>



      </div>
    </div>
  </div>
</div>
