<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

        <div class="text-lg max-w-prose mx-auto mb-16">
          <h1>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Règles à respecter</span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">
            La forêt de Fontainebleau est un environnement unique et fragile. 
            Il est important de respecter certaines règles de bonne conduite pour le protéger.
          </p>
        </div>
        <div class="mt-6 prose prose-green prose-lg text-gray-500 mx-auto">
          <h2>Halte à la magnésie</h2>

          <p>
            La magnésie abîme la roche, utilisez-la avec parcimonie.
            Un rocher propre a une meilleure adhérence, il est donc préférable de nettoyer les prises (avec une brosse souple) plutôt que d’utiliser de la magnésie.
          </p>

          <p>
            Quand vous avez terminé, pensez à brosser les prises (toujours avec une brosse souple) pour faire disparaître vos traces.
          </p>

          <h2>Nettoyez vos chaussons</h2>

          <p>
            Le sable et la terre qui se glissent sous vos chaussons contribuent à polir la roche, ce qui finit par la rendre impraticable à la longue.
          </p>

          <p>
            Pensez à nettoyer vos chaussons avec un paillasson ou un chiffon avant de débuter une voie.
          </p>

          <h2>
            Autres règles
          </h2>

          <ul>
            <li>Ne grimpez pas sur des blocs humides (cela abîme la roche)</li>
            <li>Ne campez pas, ne faites pas de feu</li>
            <li>Remportez vos déchets (et pourquoi pas ceux que vous auriez trouvé sur place?)</li>
          </ul>

          <p>
            Bonne grimpe !
          </p>
          
        </div>
      </div>
</div>
