<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Take a screenshot of the map</li>
  <li>Edit the image in drawing mode, as for the previous step</li>
  <li>Draw a line to mark the exact starting position on an existing boulder</li>
</ul>

<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Example:</p>
<%= image_tag "contribute/example-map.jpg", class:"rounded-lg" %>

<p class="mt-4 mb-1 text-sm font-medium leading-6 text-gray-600">Additional details:</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>If the boulder does not already exist on the map, draw it and indicate its precise GPS position in the dedicated field</li>
</ul>
