<div class="flex justify-between py-2">
  <div>
    <%= problem_circle_view(problem) %>
    <span class="ml-2"><%= problem.name_with_fallback %></span>
    <span class="text-gray-500">
      <%= problem.grade %>
    </span>
  </div>
  <div>
    <div class="flex space-x-2">
      <div class="">
      </div>

    </div>
  </div>
</div>
