<div class="mt-8">
  <h3 class="px-3 text-xs font-semibold text-gray-500 uppercase tracking-wider">Type</h3>
  <div class="max-w-lg space-y-4 mt-4">
    <div class="relative flex items-start">
      <div class="flex items-center h-5">
        <input id="comments" name="comments" type="checkbox" class="focus:ring-green-500 h-4 w-4 text-green-600 border-gray-300 rounded">
      </div>
      <div class="ml-3 text-sm">
        <label for="comments" class="font-medium text-gray-700">Mur vertical</label>
      </div>
    </div>
    <div>
      <div class="relative flex items-start">
        <div class="flex items-center h-5">
          <input id="candidates" name="candidates" type="checkbox" class="focus:ring-green-500 h-4 w-4 text-green-600 border-gray-300 rounded">
        </div>
        <div class="ml-3 text-sm">
          <label for="candidates" class="font-medium text-gray-700">Dalle</label>
        </div>
      </div>
    </div>
    <div>
      <div class="relative flex items-start">
        <div class="flex items-center h-5">
          <input id="offers" name="offers" type="checkbox" class="focus:ring-green-500 h-4 w-4 text-green-600 border-gray-300 rounded">
        </div>
        <div class="ml-3 text-sm">
          <label for="offers" class="font-medium text-gray-700">Dévers</label>
        </div>
      </div>
    </div>
    <div>
      <div class="relative flex items-start">
        <div class="flex items-center h-5">
          <input id="offers2" name="offers2" type="checkbox" class="focus:ring-green-500 h-4 w-4 text-green-600 border-gray-300 rounded">
        </div>
        <div class="ml-3 text-sm">
          <label for="offers2" class="font-medium text-gray-700">Traversée</label>
        </div>
      </div>
    </div>
  </div>
</div>