div class="w-full aspect-w-4 aspect-h-3 bg-gray-300 rounded-lg"
  = image_tag(line.topo.photo.variant(resize_to_limit: [800, 800]), data: {'topo-line-target': 'image'}, class: "w-full object-cover rounded-lg")