<h2>Bleau météo</h2>

<p>
  Astuce : pensez à regarder <%= link_to "Bleau Météo", "https://www.facebook.com/people/Bleau-Météo/100055389702633/", target: "_blank" %> pour avoir une météo très précise le matin même.
</p>