<%= warning_box do %>
  After the rain it is strongly discouraged to climb.
  <br>
  The boulder won't stick, and you risk damaging it.
<% end %>

<p>
  Here are a few areas that dry faster than most areas, thanks to their sun (and wind) exposure.
</p>