<%= warning_box do %>
  Après la pluie, pas de grimpe !
  <br>
  Vous adhérerez mal à la paroi si la roche n’est pas 100% sèche, et vous risquez de l'abîmer. 
<% end %>

<p>
  Voici une sélection de secteurs qui sèchent plus vite que la moyenne, grâce à leur exposition au soleil ou au vent :
</p>