<a href="<%= admin_contribution_request_path(contribution_request) %>" class="whitespace-nowrap font-medium text-blue-700 hover:text-blue-600">
  <div class="rounded-md bg-blue-50 p-4 text-blue-700">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div class="ml-3 flex-1 md:flex md:justify-between">      
        <p class="text-base font-medium">Requested contributions</p>
      </div> 
    </div>
  </div>
</a>