- add_breadcrumb "Fontainebleau", admin_areas_path
- add_breadcrumb @line.problem.area.name, admin_area_problems_path(area_id: @line.problem.area.id, circuit_id: @line.problem.circuit&.id || "off_circuit", anchor: @line.problem.id)
- add_breadcrumb "Problem ##{@line.problem.id}", edit_admin_problem_path(@line.problem)
- add_breadcrumb "Line ##{@line.id}", nil, class: "active"

div class="my-3" = problem_circle_view_with_name(@line.problem)
div class="my-3" = link_to "Topo ##{@line.topo.id}", edit_admin_topo_path(@line.topo)

div data-controller="topo-editor"
  div style="" data-topo-editor-target="container"
    = ix_image_tag @line.topo.photo.key, url_params: { w: 800, ar:'4:3', fit: 'crop' }, tag_options: { data: {"topo-editor-target": "image"}, style: "position:absolute;z-index:1;" }
    canvas data-topo-editor-target="canvas" data-action="click->topo-editor#createPoint" style="position:relative;z-index:20;"

  div class="my-3"
    = form_with model: [:admin, @line], data: {"topo-editor-target": "form"} do |form|
      div class="my-3"
        = form.label :coordinates
        = form.text_area :coordinates, rows: "4", data: {"topo-editor-target": 'textarea'}, value: @line.coordinates.to_json

      div class="my-3"
        = form.submit("Save", class: "btn")
        - items = []
        - items << { text: "destroy", link: admin_line_path, method: :delete, data: { confirm: 'Are you sure?' } }
        = render 'shared/dot_menu', items: items, align_class: "bottom-0"
      
div style="margin-bottom: 300px"