<div data-controller="search" class="flex flex-1 items-center justify-center">
  <% if show_button %>
    <button type="button" data-action="click->search#openModal" class="px-1 pt-1 font-medium text-gray-500 hover:text-gray-900" aria-haspopup="dialog" aria-expanded="false" aria-controls="searchModal" aria-label="Open search modal">
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
    </button>
  <% else %>
    <div class="px-2">
      <div class="w-full max-w-lg">
        <label for="search" class="sr-only">Search</label>
        <div class="relative">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
            </svg>
          </div>
          <input id="search" name="search" data-action="click->search#openModal" class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-emerald-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-emerald-500 sm:text-sm" placeholder="<%= t('views.search.placeholder') %>" type="search" aria-controls="searchModal" aria-label="Search">
        </div>
      </div>
    </div>
  <% end %>

  <div data-search-target="searchModal" class="!ml-0 fixed inset-0 z-50 hidden overflow-y-auto text-base" aria-labelledby="modal-title" role="dialog" aria-modal="true" tabindex="-1">
    <div class="flex justify-center pt-4 px-1 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-600 sm:bg-gray-400 opacity-75 sm:opacity-50"></div>
      </div>

      <div id="modal-content" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all w-full max-w-md sm:max-w-lg sm:align-middle sm:my-8 sm:w-full sm:rounded-xl sm:shadow-2xl">
        <div class="relative">
          <svg id="search-icon" data-search-target="searchIcon" class="pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-emerald-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
          </svg>
          <svg id="spinner-icon" data-search-target="spinnerIcon" class="hidden pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-gray-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
          </svg>
          <div class="flex items-center">
            <input
              type="text"
              id="search-input"
              data-search-target="searchInput"
              data-action="input->search#performSearch keydown->search#handleKeydown"
              class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-900 placeholder:text-gray-500 focus:ring-0"
              placeholder="<%= t('views.search.placeholder') %>"
              role="combobox"
              aria-expanded="false"
              aria-controls="options"
              aria-autocomplete="list"
              aria-activedescendant=""
              autocorrect="off"
              autocomplete="off"
              spellcheck="false"
            >
            <button id="clear-button" data-search-target="clearButton" data-action="click->search#clearSearch" type="button" class="hidden h-12 w-20 flex items-center justify-center text-gray-500 hover:text-gray-900 focus:outline-none" aria-label="Clear search">
              ✕
            </button>

            <button id="cancel-button" data-search-target="cancelButton" data-action="click->search#closeModal" type="button" class="h-12 px-4 inline-flex justify-center items-center gap-2 border-l border-l-gray-300 font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-300 focus:outline-none focus:ring-0" aria-label="Cancel search">
              <%= t('views.search.cancel') %>
            </button>
          </div>
        </div>

        <ul class="bg-gray-100 cursor-pointer sm:max-h-80 scroll-pb-2 scroll-pt-11 space-y-2 overflow-y-auto border-t border-gray-200 pb-2 hidden" data-search-target="searchDropdown" role="listbox" id="options">
          <li>
            <ul class="mt-2 text-gray-800" data-search-target="searchResults">
              <!-- Active: "bg-indigo-600 text-white" -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
