div class="w-full aspect-w-4 aspect-h-3 bg-gray-300 #{klass}"
  = ix_image_tag topo.photo.key, url_params: { w: 800, ar:'4:3', fit: 'crop' }, tag_options: { data: {'topo-line-target': 'image'}, class: "w-full object-cover #{klass}"}