div class="w-full aspect-w-4 aspect-h-3 #{klass}"
  div class="bg-gray-300 animate-pulse #{klass}"
  = image_tag(topo.photo.variant(resize_to_limit: [1200, 1200], quality: 50), class: "w-full object-cover #{klass}", data: {'topo-line-target': 'image'})