<p class="mb-1 text-sm font-medium leading-6 text-gray-600">How to take the photo:</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Use your phone's "Camera" app</li>
  <li>Take a <span class=" underline">horizontal</span> photo. <span class=" font-bold">Warning: vertical photos are not accepted</span></li>
  <li>Frame the entire face of the boulder if possible</li>
  <li>Keep a bit of margin at the top, bottom, left, and right of the boulder</li>
  <li>Use the wide-angle mode (zoom x0.5) if available</li>
  <li>Save the photo with the highest possible quality and size</li>
</ul>

<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Example:</p>
<%= image_tag "contribute/example-topo.jpg", class:"rounded-lg" %>

<p class="mt-4 mb-1 text-sm font-medium leading-6 text-gray-600">Additional details:</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>If the route extends over several faces (example: a traverse), then take a photo of each face</li>
  <li>Avoid objects in the photo (crash pads, bags) or people</li>
  <li>Avoid rainy days, as moisture makes the boulder hard to recognize</li>
  <li>Avoid shadows from tree branches and leaves</li>
</ul>
