<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Comment prendre la photo :</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Utilisez l'application "Appareil Photo" de votre téléphone</li>
  <li>Prenez une photo <span class=" underline">horizontale</span>. <span class=" font-bold">Attention : les photos verticales ne sont pas acceptées</span></li>
  <li>Cadrez si possible la face entière du bloc</li>
  <li>Gardez un peu de marge en haut, en bas, à gauche et à droite du bloc</li>
  <li>Utilisez le mode grand angle (zoom x0.5) si disponible</li>
  <li>Sauvegardez la photo avec la meilleure qualité et taille possibles</li>
</ul>

<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Exemple :</p>
<%= image_tag "contribute/example-topo.jpg", class:"rounded-lg" %>

<p class="mt-4 mb-1 text-sm font-medium leading-6 text-gray-600">Autres précisions :</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Si la voie se prolonge sur plusieurs faces (exemple : une traversée), prenez alors une photo de chaque face</li>
  <li>Évitez les objets sur la photo (crash pads, sacs) ou les personnes</li>
  <li>Évitez les journées pluvieuses, l'humidité rend le bloc difficile à reconnaitre</li>
  <li>Évitez les ombres des branches et feuilles d'arbres</li>
</ul>