<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Ré-utilisez la photo de l'étape précédente</li>
  <li>Utilisez une appli pour dessiner le tracé de la voie directement sur la photo (par exemple avec l'appli Photos)</li>
  <li>Sauvegardez le résultat dans une image séparée</li>
</ul>

<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Exemple :</p>
<%= image_tag "contribute/example-topo-with-line.jpg", class:"rounded-lg" %>