<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Prenez une capture d'écran de la carte</li>
  <li>Éditez l'image en mode dessin, comme pour l'étape précédente</li>
  <li>Dessinez un trait pour marquer la position précise du départ sur un bloc existant</li>
</ul>

<p class="mb-1 text-sm font-medium leading-6 text-gray-600">Exemple :</p>
<%= image_tag "contribute/example-map.jpg", class:"rounded-lg" %>

<p class="mt-4 mb-1 text-sm font-medium leading-6 text-gray-600">Autres précisions :</p>
<ul class="list-disc mb-4 px-6 text-sm leading-6 text-gray-600">
  <li>Si le bloc n'existe pas déjà sur la carte, dessinez-le et indiquez sa position GPS précise dans le champ dédié</li>
</ul>