<div class="rounded-3xl bg-gradient-to-l from-emerald-800 to-emerald-700 py-10 px-6 sm:px-12 lg:flex lg:items-center max-w-3xl">
  <div class="lg:w-0 lg:flex-1">
    <h2 class="text-3xl font-bold tracking-tight text-white"><%= t("views.about.web_dev.title") %></h2>
    <p class="mt-4 text-lg text-emerald-100">
      <%= t("views.about.web_dev.p1_html", link_web: link_to("Rails", "https://github.com/boolder-org/boolder-rails", class: "font-medium underline text-emerald-200", target: "_blank"), link_ios: link_to("iOS", "https://github.com/boolder-org/boolder-ios", class: "font-medium underline text-emerald-200", target: "_blank")) %>
    </p>
  </div>
</div>