<h1>Privacy Policy</h1>

<p>
  Last updated on 12/02/2021.
</p>

<h3>Information we collect via Boolder.com</h3>

<p>We don't collect any personal information.</p>

<h3>Information we collect via Boolder for iPhone</h3>

<p>We collect the following information:</p>
<ul>
  <li>the problems marked as "favorite"</li>
  <li>the problems marked as "done"</li>
</ul>

<p>
  This information is <strong>stored only on your device</strong> and is never sent anywhere else. 
</p>

<h3>Your Consent</h3>

<p>
  By using Boolder, you consent to our privacy policy.
</p>

<h3>Cookie Policy</h3>
<p>
  We don't store any personal data via cookies, and we don't use any external cookies.
</p>

<h3>Contacting Us</h3>
<p>
  If you have questions regarding this privacy policy, you may email hello@boolder.com.
</p>