<h1>Politique de confidentialité</h1>

<p>
  Dernière mise à jour le 12/02/2021.
</p>

<h3>Informations collectées via Boolder.com</h3>

<p>Nous ne collectons aucune information personnelle.</p>

<h3>Informations collectées via Boolder pour iPhone</h3>

<p>Nous collectons les informations suivantes:</p>
<ul>
  <li>les voies marquées en "favori"</li>
  <li>les voies marquées en "réussi"</li>
</ul>

<p>
  Ces informations sont stockées <strong>uniquement sur votre téléphone</strong> et ne sont jamais envoyées ailleurs.
</p>

<h3>Consentement</h3>

<p>
  En utilisant Boolder, vous consentez à notre politique de confidentialité.
</p>

<h3>Cookies</h3>
<p>
  Nous ne stockons aucune information personnelle, et nous n'utilisons aucun cookie externe.
</p>

<h3>Nous contacter</h3>
<p>
  Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse hello@boolder.com.
</p>