<% set_meta_tags title: t("views.privacy.metas.title") %>

<div class="max-w-7xl mx-auto py-8 overflow-hidden">
  <div class="px-4 sm:px-6 lg:px-8">

    <div class="my-8 prose prose-emerald prose-lg text-gray-500">
      <%= render "privacy_policy" %>
      
    </div>
  </div>
</div>

