<div 
data-controller="apple-map" 
data-apple-map-geojson-value="<%= asset_path "area-#{@area.id}-data.geojson" %>"
data-apple-map-key-value="eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ilo2R05BUDc5N1QifQ.eyJpc3MiOiI4WTQ2QkNaVUw5IiwiaWF0IjoxNjExNTY4NTQ4LCJleHAiOjE5MzU2NTQ5NDh9.AwRdcYE4F3lTvEPUHtXAsGAHw2OXf4zBaGhK9_wGjM9hSsCzzrUPByzUYHSeuLrg8TJpt6-8q7DhpWaFLDe1Vg"
data-apple-map-language-value="fr"
>
  <div data-apple-map-target="map" class="apple-map bg-gray-500" style="height: 32rem;"></div>
</div>
