@import "tailwindcss/base";

@layer base {

}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 focus:ring-red-500;
  }

  .breadcrumb li+li:before {
    content: "/\00a0";
    @apply text-gray-900;
    @apply ml-1;
  }

  .breadcrumb .active {
    @apply text-gray-900;
  }

  del,
  ins {
      display: inline-block;
      text-decoration: none;
  }

  del {
      background-color: #fbb;
  }

  ins {
      background-color: #d4fcbc;
  }

  .apple-map-callout-content a {
    @apply text-green-600 underline font-medium
  }

  .turbo-progress-bar {
    @apply bg-green-600
  }

  .algolia-autocomplete {
    width: 100%;
  }
  .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-hint {
    color: #999;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }
}
