<!-- TODO: meta tags  -->

<div 
data-controller="mapbox-contribute"
data-action="gotoproblem@window->mapbox-contribute#gotoproblem gotoarea@window->mapbox-contribute#gotoarea"
class="flex-auto relative"
id='map'
data-mapbox-contribute-target="map"
data-mapbox-contribute-locale-value="<%= I18n.locale %>"

data-mapbox-contribute-geojson-value="/fr/contribute/requests.geojson"

<% if @problem %> 
data-mapbox-contribute-problem-value="<%= @problem.to_json %>" 
<% end %>

<% if @bounds %> 
data-mapbox-contribute-bounds-value="<%= @bounds.to_json %>"
<% end %>

<% if Rails.env.production? %> 
  data-mapbox-contribute-token-value="pk.eyJ1Ijoibm1vbmRvbGxvdCIsImEiOiJjbDl5bDZkdDIwNmhhM3BsbnJqbWprcnl5In0.qTno2zICtJfl6UJnNAdmZQ"
<% else %> 
  data-mapbox-contribute-draft-value="true"
  data-mapbox-contribute-token-value="pk.eyJ1Ijoibm1vbmRvbGxvdCIsImEiOiJjbGE5dTBoYjQwMWpqM3JxbWJxeDBtcTd0In0.ZL6a2hHTBJmk4-_MHuUfHg"
<% end %>
>

</div>