<svg width="<%= width %>px" height="<%= height %>px" viewBox="0 0 98 98" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>No photo</title>
  <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
    <g id="nophoto" transform="translate(-1401.000000, -1042.000000)" fill="currentColor" fill-rule="nonzero">
      <g id="Symbols" transform="translate(1400.000000, 1042.000000)">
        <g id="Regular-M" transform="translate(0.300000, 0.000000)">
          <g id="Group" transform="translate(0.700000, 0.000000)">
            <path d="M46,32.3259259 L53.6740741,40 C57.2,39.5851852 60,36.5777778 60,33.0518519 C60,29.2148148 56.8888889,26 52.9481481,26 C49.4222222,26 46.4148148,28.8 46,32.3259259 Z" id="Path"></path>
            <path d="M84.4612006,19.8834356 C87.0600293,19.8834356 89.2430454,22.0736196 89.2430454,24.6809816 L89.2430454,49.607362 L75.9370425,37.3006135 C74.2737921,35.7361963 71.6749634,35.7361963 70.011713,37.404908 L59.3045388,47.6257669 L92.5695461,81 C94.7525622,78.9141104 96,75.993865 96,72.8650307 L96,24.5766871 C96,18.2147239 90.9062958,13 84.4612006,13 L25,13 L31.7569546,19.7791411 L84.4612006,19.7791411 L84.4612006,19.8834356 Z" id="Path"></path>
            <path d="M96.9805304,92.1246384 L5.75330095,1.00499606 C4.41172405,-0.334998685 2.34775958,-0.334998685 1.00618268,1.00499606 C-0.335394226,2.3449908 -0.335394226,4.40652117 1.00618268,5.74651591 L9.67483344,14.4049435 C5.13411161,15.9510912 1.93496669,20.1772285 1.93496669,25.1249014 L1.93496669,72.746253 C1.93496669,79.0339206 7.09487786,84.1877465 13.3899695,84.1877465 L79.5400307,84.1877465 L92.3366104,96.9692348 C92.9557997,97.5876939 93.8845837,98 94.7101695,98 C95.5357553,98 96.4645393,97.6907704 97.0837287,96.9692348 C98.3221074,95.6292401 98.3221074,93.4646332 96.9805304,92.1246384 Z M42.8014632,63.7785958 L41.4598863,62.5416776 L40.5311022,61.7170655 L39.0863271,60.4801473 L31.4496586,53.3678675 C29.5920906,51.6155667 26.7025403,51.6155667 24.8449723,53.3678675 L8.64285121,68.3139627 L8.64285121,25.1249014 C8.64285121,22.5479884 10.8100139,20.3833815 13.3899695,20.3833815 L15.7635286,20.3833815 L51.2637175,55.8417039 L42.8014632,63.7785958 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>