@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-700 focus:ring-red-500;
  }

  .breadcrumb li+li:before {
    content: "/\00a0";
    @apply text-gray-900;
    @apply ml-1;
  }

  .breadcrumb .active {
    @apply text-gray-900;
  }

  del,
  ins {
      display: inline-block;
      text-decoration: none;
  }

  del {
      background-color: #fbb;
  }

  ins {
      background-color: #d4fcbc;
  }

  .turbo-progress-bar {
    @apply bg-emerald-600
  }

  .topo-line-shadow {
    filter: drop-shadow(0px 0px 8px rgba(0.2,0.2,0.2,0.6));
  }
}
