// Place all the styles related to the Imports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

del,
ins {
    display: inline-block;
    text-decoration: none;
}

del {
    background-color: #fbb;
}

ins {
    background-color: #d4fcbc;
}
