<p>
  Pour un groupe de niveau hétérogène, il n'est pas facile de trouver un secteur qui comblera tout le monde.
</p>

<p>
  Voici une liste de secteur ayant un grand nombre de voies dans tous les niveaux de 2 à 7 :
</p>