<p>
  For a group with mixed levels, it can be pretty difficult to find an area that will please everyone.
</p>

<p>
  Here are a few areas with a lot or problems graded in all levels from 2 to 7:
</p>