<% if @area %> 
  <% set_meta_tags title: t("views.map.area.metas.title", area: @area.name) %>
  <% set_meta_tags description: t("views.map.area.metas.description", area: @area.name) %>

  <% if @area.cover.persisted? %>
  <% set_meta_tags og: { type: "website", image: ix_image_url(@area.cover.key, w: 800, ar:'4:3', fit: 'crop') } %>
  <% end %>
  <% set_meta_tags canonical: map_url(@area) %>
<% else %>
  <% set_meta_tags title: t("views.map.fontainebleau.metas.title") %>
  <% set_meta_tags description: t("views.map.fontainebleau.metas.description") %>
  <% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>
  <% set_meta_tags canonical: map_url %>
<% end %>

<div 
data-controller="mapbox"
data-action="gotoproblem@window->mapbox#gotoproblem gotoarea@window->mapbox#gotoarea"
class="flex-auto relative"
id='map'
data-mapbox-target="map"
data-mapbox-locale-value="<%= I18n.locale %>"

<% if @problem %> 
data-mapbox-problem-value="<%= @problem.to_json %>" 
<% elsif @bounds %> 
data-mapbox-bounds-value="<%= @bounds.to_json %>"
<% end %>

<% if Rails.env.production? %> 
  data-mapbox-token-value="pk.eyJ1Ijoibm1vbmRvbGxvdCIsImEiOiJjbDl5bDZkdDIwNmhhM3BsbnJqbWprcnl5In0.qTno2zICtJfl6UJnNAdmZQ"
<% else %> 
  data-mapbox-draft-value="true"
  data-mapbox-token-value="pk.eyJ1Ijoibm1vbmRvbGxvdCIsImEiOiJja2hwMXMzZWgwcndhMnJrOHY1a3c0eHE5In0.F4P_5ZCsauDFiSqrxqjZ8w"
<% end %>
>
  <%= render "filters" %>

</div>