<% set_meta_tags title: t("Map") %>
<% set_meta_tags description: t("map") %>

<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>

<div 
data-controller="mapbox" 
data-action="gotoproblem@window->mapbox#gotoproblem gotoarea@window->mapbox#gotoarea"
class="flex-auto"
id='map'
data-mapbox-target="map"
<% if @bounds %> data-mapbox-bounds-value="<%= @bounds.to_json %>" <% end %>
<% if @problem %> data-mapbox-problem-value="<%= @problem.to_json %>" <% end %>
>
</div>