<% set_meta_tags title: t("Map") %>
<% set_meta_tags description: t("map") %>

<% set_meta_tags og: { type: "website", image: image_url("hero-homepage.jpg") } %>


<div 
data-controller="mapbox" 
>
  <div id='map' data-mapbox-target="map" style='width: 100%;' class="h-screen relative">
</div>