<h2>Pour les débutants</h2>

<p>
  Vous souhaitez découvrir Fontainebleau en douceur ?
</p>

<p>
  Voici quelques secteurs avec de nombreuses voies de <strong>niveau 2 et 3</strong>, des blocs <strong>peu hauts</strong> (3 mètres et moins) et avec une <strong>bonne réception au sol</strong>. 
  <br>
  Parfait pour débuter en confiance.
</p>