<h2 id="intermediate">Pour les niveaux intermédiaires</h2>

<p>
  Si vous souhaitez grimper dans les niveaux 4 et 5, voici quelques secteurs proposant un grand nombre de voies.
</p>

<%= warning_box do %>
  Attention : les cotations à Fontainebleau sont plus sévères qu'ailleurs.
  <br>
  Un 5a à Fontainebleau équivaut environ à un 6a en falaise.
<% end %>