<h2 id="intermediate">For intermediate levels</h2>

<p>
  If you want to climb problems graded between 4 and 5, here are a few recommended areas:
</p>

<%= warning_box do %>
  Watch out : grades in Fontainebleau are more severe.
  <br>
  A 5a in Fontainebleau is roughly equivalent to a 6a elsewhere.
<% end %>