- add_breadcrumb "Fontainebleau", admin_areas_path
- if area = @topo.problems.first&.area
  - add_breadcrumb area.name, admin_area_problems_path(area_slug: area.slug, circuit_id: "first")
- add_breadcrumb "Topo ##{@topo.id}", nil, class: "active"

div class="my-3" 
  - @topo.problems.each do |problem|
    span class="mr-3" 
      = problem_circle_view_with_name(problem)

div
  div style="" 
    = image_tag(@topo.photo)

  = form_with model: [:admin, @topo] do |form|
    div class="form-group form-check mt-8"
      = form.check_box :published, class: "form-check-input"
      = form.label :published

    div class="form-group"
      p class="my-8"
        div Metadata
        code
          pre
            = JSON.pretty_generate(@topo.metadata)

      p class=""
        = form.submit("Update", class: "btn btn-primary mt-8")
        - items = []
        - items << { text: "destroy", link: admin_topo_path, data: { "turbo-confirm": 'Are you sure?', "turbo-method": :delete } }
        = render 'shared/dot_menu', items: items, align_class: "bottom-0"
div style="margin-bottom: 300px"