<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
          <%= render_breadcrumbs builder: CustomBreadcrumbsBuilder, :tag => :li, :separator => "", class: "inline-flex text-emerald-600" %>
        </ol>
      </nav>
      <div>
        <%= yield :options %>
      </div>
    </div>
  </div>
</header>