<% flash.each do |type, msg| %>
  <% colors = {
    notice: "bg-emerald-600",
    error: "bg-red-600",
  }
  %>
  <div class="<%= colors.fetch(type.to_sym, "bg-emerald-600") %>">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
          <p class="ml-3 font-medium text-white truncate">
            <span>
              <%= msg %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>